body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    gap: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    padding: 8px 12px;
}

.dark-bg {
    background-color: #1f2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary-text,
.header-link-text,
.footer-text {
    font-size: 18px;
    color: #e5e7eb;
}

.information-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

.button-bg,
.cta-bg {
    background-color: #3882f6;
}

.quote-bg {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937
}

.header-container {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    max-width: 1000px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
}

.hero-section-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    max-width: 1000px;
    height: 220px;
    display: flex;
    gap: 40px;
}

.hero-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-img {
    width: 50%;
    border-radius: 8px;
}

.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8
}

.button {
    width: 140px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    border-style: none;
    color: white;
}

.info-section-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    max-width: 1000px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.info-row {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-card {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.box {
    width: 150px;
    height: 150px;
    border: 4px #3882f6 solid;
    border-radius: 16px;
}

.info-text {
    display: flex;
    text-align: center;
    color:#1f2937;
    font-size: 16px;
}