.dark-bg {
    background-color: #1f2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: e5e7eb;
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.button-bg,
.cta-bg {
    background-color: 3882f6;
}

.quote-bg {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937
}

